<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nepotism Babes</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <figure class="waffle"></figure>
    <figure class="histogram"></figure>

</body>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    {% load static %}
    <script src="{% static 'beeswarm.js' %}"></script>


</html>